*{
  margin: 0;
  box-sizing:border-box;

}

/* div {
  padding: 1em;
} */

.wrapper {
  padding: 5vh;
  width: 70vmin;
  height: 70vmin;
  margin: 5vh auto;
  background-color: aqua;
  position: relative;
}

.inner__block {
  width: 70%;
  height: 70%;
  margin: auto;
  background-color:wheat;
  position: relative;
}

.absolute {
  position: absolute;
  bottom: 0;
  left: 0;
}

.block {
  width: 100px;
  height: 100px;
  outline: 1px solid #222;
  background-color: orange;
}

/* .margin-left {
  margin-left: 30px;
  margin-top: 20px;
} */

.static {
  position: static;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; */
}

.relative {
  position: relative;
  top: 10%;
  left: 10%;
  z-index: 1;
}

.fixed{
  position: fixed;
  top: 5vmin;
  left: 5vmin;
  z-index: 999;
}

