body {
  background-color: aquamarine;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Slab', serif;
 
}

a {
  font-size: 26px;
}

a.logo {
  font-size: 56px;
}

h1{
  font-size: 100%;
}

p{
  font-size: 24px;
  line-height: 1.5em;
  font-family: 'Roboto Slab', serif;
}